@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    cursor: none;
}

body {
    font-size: 125%;
    font-family:'Montserrat Alternates', sans-serif;
    background-color: #166620;
    cursor: url(../images/mallet.webp) auto;
}

h1 {
    background: url(../images/man-digging-home-page.webp) no-repeat center;
    background-size: 33%;
    height: 280px;
    font-size: 85px;
    color: rgb(6, 34, 95);
    margin-top: 150px;
    margin-bottom: 28px;
    box-shadow: rgb(106, 131, 167);
    animation: image-grow 2s;
}
@keyframes image-grow {
    from {
        transform: scale(0.4);
    }

    to {
        transform: scale(1);
    }
}


.homepage-container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    padding: 35px;
}

.btn {
    font-size: 30px;
    padding: 15px 0;
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
    color:black;
    background: linear-gradient(90deg, rgb(18, 92, 255) 0%, rgb(0, 102, 255) 100%);
    border-radius: 10px;
    text-decoration: none;
}

.flex-column {
    
    display: flex;
    flex-direction: column;
}

.flex-center {
justify-content: center;
align-items: center;
}

.btn:hover {
    cursor: none;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.6);
    transition: transform 2s;
    transform: scale(1.1);
}

#highscore-btn {
    background: linear-gradient(90deg, rgb(239, 235, 121) 0%, rgb(240, 221, 6) 100%);
}

#instruction-btn {
    background: linear-gradient(90deg, rgb(55, 114, 243) 0%, rgb(0, 102, 255) 100%);
}

.mole-image {
    background: url(../images/mole-homepage.webp) center no-repeat;
    background-size: 138%;
    height: 105px;
    width: 150px;
}

.cursor-mallet img {
    height: 110px;
    width: 110px;
    position: absolute;
    z-index: 2;
    transform: translate(-40px, -40px);
    pointer-events: none;
}

@keyframes hit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(40deg);

    }
}

.home-mole-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 250px;
    margin-top: 240px;
    margin-bottom: 260px;
    margin-left: 30px;
   }

.home-mole-container .square {
    height:140px;
    margin: 22px;
}

.home-mole-container .mole-image {
    background-size: 82%;
   height: 200px;
}

.home-mole-container .soil-div {
background-size: 62%;
height: 70px;
margin-bottom: 120px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */

  #instructions-modal-header {
    padding: 10px 15px;
    align-items: center;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    border-bottom: 1px solid black;
  }

  .modal-body {
    padding: 10px 15px;
    align-items: center;
    margin-bottom: 80px;
  }

  .modal-body p {
    align-items: center;
    text-align: center;
    padding:10px 15px;
    margin-bottom: 8px;
}

 .modal-body ul li {
    
    align-items: center;
    text-align: center;
    padding: 15px 15px;
    
 }

  .modal-footer {
  width: 100%;
  height: 100px;
  background-color: #5cb85c;
  }

  .modal-footer ul {
  position: absolute;
  left: 50%;
  padding: 0;
  transform: translate(-50%, -50%);
  display: flex;
  }

.modal-footer ul li {
    list-style: none;
    margin: 0 105px 0;
}

.modal-footer ul li a {
    font-size: 50px;
    align-items: center;
    color: #100c01;
    margin-top: 105px;
}

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 0;
    border: none;
    border-radius: 10px;
    width: 60%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 1.2s;
  }
  /* Add Animation */
@keyframes animatetop {
    from {bottom: -250px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 38px;
    margin-right: 10px;
    font-weight: bold;
  }

  .highscoreClose {
    color: #aaa;
    float: right;
    font-size: 38px;
    margin-right: 10px;
    font-weight: bold;
  }

  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }


  .scoretable{
    position: relative;
    display: flex;
    justify-content: center;
  }

  .home-btn {
    background-color: rgb(55, 114, 243);
    border: none; 
    color: white;
    font-size: 16px; 
    cursor: none;
    float:right;
    padding: 15px;
    margin: 15px 15px 10px 15px;
    border-radius: 50%;
  }

  .home-btn:hover {
    background-color:  #166620;
  }
  


  #game-title {
    height: 50px;
    font-size: 65px;
    color: rgb(6, 34, 95);
    margin-top: 4px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;

}
  .game-btn {
    font-size: 20px;
    padding: 8px 8px 8px 8px;
    width: 220px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10px;
    color:black;
    background: linear-gradient(90deg, rgb(18, 92, 255) 0%, rgb(0, 102, 255) 100%);
    border-radius: 8px;
    text-decoration: none;
}
   
.game-grid {
    background: url(../images/forest-background.jpg) center;
    background-size: 100%;
    width: 1200px;
    height: 464px;
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
}

.square {
width: 150px;
height: 205px;
margin: 20px;
}

.soil-div {
    width: 149px;
    height: 80px;
    background-image: url(../images/soil.webp);
    background-size: 100%;
    margin-top: 120px;
}

/* Highscores Modal content */

.leaderboard {
    width: 80%;
    position: relative;
    font-family: "Amatic SC", cursive;
    font-size: 1.5em;
    letter-spacing: 1.5px;
    margin-top: 3em;
    margin-left: 7%;
    color: #10100e;
  }
  
  .leaderboard thead th {
    border-bottom: 2px solid #10100e;
  }
  
  .leaderboard th,
  .leaderboard td {
    border-top: 1px solid #10100e;
    vertical-align: middle;
  }

