@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-size: 125%;
    font-family:'Montserrat Alternates', sans-serif;
    background-color: #166620;
}

h1 {
    background: url(../images/man-digging-home-page.webp) no-repeat;
    background-size: cover;
    height: 300px;
    font-size: 85px;
    color: rgb(6, 34, 95);
    margin-top: 150px;
    margin-bottom: 20px;
    animation: image-grow 2s;
}
@keyframes image-grow {
    from {
        transform: scale(0.4);
    }

    to {
        transform: scale(1);
    }
}

.homepage-container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    padding: 35px;
}

.btn {
    font-size: 30px;
    padding: 15px 0;
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
    color:black;
    background: linear-gradient(90deg, rgb(18, 92, 255) 0%, rgb(0, 102, 255) 100%);
    border-radius: 10px;
    text-decoration: none;
}

.flex-column {
    
    display: flex;
    flex-direction: column;
}

.flex-center {
justify-content: center;
align-items: center;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.6);
    transition: transform 2s;
    transform: scale(1.1);
}

#highscore-btn {
    background: linear-gradient(90deg, rgb(239, 235, 121) 0%, rgb(240, 221, 6) 100%);
}

#instruction-btn {
    background: linear-gradient(90deg, rgb(55, 114, 243) 0%, rgb(0, 102, 255) 100%);
}